$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// Primary
$red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkCyan: hsl(167, 40%, 24%);
$darkBlue: hsl(198, 62%, 26%);
$darkCyan2: hsl(168, 34%, 41%);


//Neutral
$darkBlue2: hsl(212, 27%, 19%);
$grayishBlue: hsl(213, 9%, 39%);
$grayishBlue2: hsl(232, 30%, 71%);
$grayishBlue3: hsl(210, 4%, 67%);
